root = true

[*]
indent_style = space
indent_size = 4
ij_continuation_indent_size = 4

insert_final_newline = true

end_of_line = lf
charset = utf-8

[*.{java, ts, js, scss, html}]
trim_trailing_whitespace = true

[*.md]
max_line_length = off
trim_trailing_whitespace = false

