image: docker:19.03.8
services:
- docker:19.03.8-dind
stages:
  - test
  - deploy

docker-test:
  stage: test
  artifacts:
    paths:
      - /doc/convert-test-document.pdf
  script:
    - docker pull novarx/pandoc
    - chmod 777 ./build-run.sh
    - ./build-run.sh

docker-deploy:
  stage: deploy
  only:
    - master
  before_script:
    - docker login -u novarx -p $DOCKERHUB_TOKEN
  script:
    - docker pull novarx/pandoc
    - docker build . --cache-from novarx/pandoc -t novarx/pandoc
    - docker push novarx/pandoc
