image: docker:19.03.8
services:
- docker:19.03.8-dind
stages:
  - test
  - deploy

before_script:
  - chmod 777 ./build-run.sh
  - docker pull novarx/pandoc
docker-test:
  stage: test
  except:
    - master
  artifacts:
    paths:
    - ./doc/convert-test-document.pdf
  script:
    - ./build-run.sh

docker-deploy:
  stage: deploy
  only:
    - master
  artifacts:
    paths:
      - ./doc/convert-test-document.pdf
  script:
    - docker login -u novarx -p $DOCKERHUB_TOKEN
    - ./build-run.sh
    - docker push novarx/pandoc
